[[source]]
url = "https://pypi.org/simple"
name = "pypi"
verify_ssl = true

[dev-packages]

[requires]
python_version = "3.6"

[packages]
docker = "~=3.1"
gym = "~=0.10"
scipy = "~=1.0"
requests = "~=2.18"
jsonmerge = "~=1.5.1"
astroid = "~=1.6"
isort = "~=4.3.4"
pylint = "~=1.9.2"
Pillow = "~=5.0"
"ruamel.yaml" = "~=0.15"
Flask = "~=0.12"
tensorforce = "~=0.4.3"
tensorflow-gpu = "~=1.6"
jupyter = "~=1.0"
recommonmark = "~=0.3.0"
ipykernel = "*"
